<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happok.xiyan.livecenter.mapper.ChannelMapper">

    <insert id="insertChannel" parameterType="com.happok.xiyan.livecenter.entity.ChannelEntity" keyColumn="id"
            keyProperty="id" useGeneratedKeys="true">
        insert into channels
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="stream_url != null">
                stream_url,
            </if>
            <if test="live_src != null">
                live_src,
            </if>
            <if test="media_id != null">
                media_id,
            </if>
            <if test="pull_id != null">
                pull_id,
            </if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="stream_url != null">
                #{stream_url},
            </if>
            <if test="live_src != null">
                #{live_src},
            </if>
            <if test="media_id != null">
                #{media_id},
            </if>
            <if test="pull_id != null">
                #{pull_id},
            </if>
            now()
        </trim>
    </insert>

    <update id="updateChannel" parameterType="com.happok.xiyan.livecenter.entity.ChannelEntity">
        update channels
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="type!=null">type=#{type},</if>
            <if test="live_src!=null">live_src=#{live_src},</if>
            <if test="pull_id!=null">pull_id=#{pull_id},</if>
            <if test="status!=null">status=#{status},</if>
            update_time=now()
        </trim>
        where id=#{id}
    </update>

    <select id="getChannels" resultType="com.happok.xiyan.livecenter.entity.ChannelEntity">
        select * from channels
    </select>

    <select id="getChannel" resultType="com.happok.xiyan.livecenter.entity.ChannelEntity">
        select * from channels where id=#{id}
    </select>

    <select id="getChannelByLiveSrc" resultType="com.happok.xiyan.livecenter.entity.ChannelEntity">
        select * from channels where live_src is not null and live_src=#{live_src}
    </select>


    <delete id="deleteChannel">
        delete from channels where id=#{id} and id not in (select channel_id from activitys where channel_id=#{id})
    </delete>


</mapper>